<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.oneToMany.EmployeeMapper">
	
	<insert id="add" parameterType="Employee" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into employee (username,password,age,inputTime,dept_id) values (#{username},#{password},#{age},#{inputTime},#{dept.id})
	</insert>
	
	<update id="updateRealation" parameterType="Long">
		update employee set dept_id = #{did} where id = #{eid}
	</update>

	<update id="updateDeptId" parameterType="Long">
		update employee set dept_id = null where dept_id = #{did}
	</update>
		
	<select id="get" parameterType="Long" resultType="Employee">
		select * from employee where dept_id = #{did}
	</select>

</mapper>