<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.manyToMany.TeacherMapper">
	<!-- 开启EhCache缓存 ：自定义缓存（在ehcache.xml中将mapper文件的全限定名配置过去）-->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

	<resultMap type="Teacher" id="stuResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<!-- <collection property="stus" ofType="Student" 
			select="com.company.mapper.manyToMany.StudentMapper.getStuByTeaId" column="id"/> -->
		<!-- 使用左连接的方式 ：需要加上前缀-->
		<collection property="stus" ofType="Student" columnPrefix="s_">
			<id property="id" column="id" />
			<result property="name" column="name" />
		</collection>
	</resultMap>
	
	<insert id="add" parameterType="Teacher" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into teacher (name) values (#{name})
	</insert>
	
	<insert id="updateRealation" parameterType="Long">
		insert into teacher_student (s_id,t_id) values (#{sid},#{tid})
	</insert>
	
	<!-- 查询单个和插入操作之间是没有关联的，设置不刷新缓存，这里可以使用缓存 -->
	<select id="get" parameterType="Long" resultMap="stuResultMap" flushCache="false">
		<!-- 使用左连接的方式：需要多表连接，为了区分相同的列名，可以设置别名 -->
		SELECT
			t.id,
			t.`name`,
			s.id as s_id,
			s.`name` as s_name
		FROM
			teacher t
		LEFT JOIN teacher_student ts ON (t.id = ts.t_id)
		LEFT JOIN student s ON (ts.s_id = s.id)
		WHERE
			t.id = #{id}
		<!-- select * from teacher where id = #{id} -->
	</select>
</mapper>